/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

/*************** Body *********************/
body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: whitesmoke;
}

/*************** Tekst *********************/
h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/*************** Nav *********************/

nav a {
  color: black;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*************** Lister *********************/
dl {
  margin: 1.5rem 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.grid .liste_mc {
  text-decoration: none;
}

/*************** Links *********************/
main a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

main a:hover {
  background-color: var(--accent-hover);
}

/*************** Footer *********************/
footer {
  padding: 1rem;
  background-color: black;
  color: white;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fffff2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
