/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Body *********************/
body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: paleturquoise;
}

/*************** Tekst *********************/
h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/*************** Nav *********************/
header {
  background-color: #222;
}

nav a {
  color: white;
  text-decoration: none;
}

/*************** Layout *********************/
main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

/*************** Images *********************/
main img {
  max-width: 700px;
  margin: 2rem auto;
  border-radius: 6px;
}

/*************** Lister *********************/
dl {
  margin: 1.5rem 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

/*************** Links *********************/
main a {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  background-color: black;
  color: white;
  text-decoration: none;
}

/*************** Footer *********************/
footer {
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}
